@import "tailwindcss";
@plugin "@tailwindcss/typography";


:root {
  --background: #FFFBF5;
  --surface: #EDE8DC;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist), Arial, Helvetica, sans-serif;
}

.font-carattere {
  font-family: var(--font-carattere), serif;
}

.font-urbanist {
  font-family: var(--font-urbanist), Arial, Helvetica, sans-serif;
}